<% content_for :meta_title, "Un instant pour soi - Ma galerie" %>
<div class="container">
  <h2 class="text-center" style="margin-top: 30px;" id="galerie">MA GALERIE</h2>
  <div class="cards">
    <% @latests.each do |latest| %>
    <div data-aos="fade-up">
      <% if latest.photo.attached? %>
        <div class="card-category" style="text-decoration: none; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path latest.photo.key %>);">
      <% else %>
        <div class="card-category" style="text-decoration: none; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url();">
      <% end %>

        </div>
    </div>
    <% end %>
  </div>
</div>
<script>
  AOS.init();
</script>
