.info {
  width: 45%;
  border-right: solid 1px grey;
}

.form {
  width: 45%;
}

.info-form {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-items: center;

  ul li {
    margin-top: 30px;
  }

  ul li i {
    color: #D69E2E;
    font-size: 30px;

  }

  ul li span {
    font-size: 20px;

  }
}

.btn-submit {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #D69E2E;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media(max-width: 1000px) {
  .info-form {
    display: block;
  }

  .info {
    width: 100%;
    border: none;
    margin: auto;

    p {
      font-size: 12px;
    }
  }

  .form {
    width: 60%;
    margin: auto;
  }

  .contact-info {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;

    ul li {
      margin-top: 30px;
    }

    ul li i {
      color: #D69E2E;
      font-size: 30px;

    }

    ul li span {
      font-size: 20px;

    }
  }

  .info-hours {
    width: 50%;
    margin: auto;
  }
}

@media(max-width: 500px) {
  .contact-info {
    display: flex;
    align-items: center;
    margin: 0;
    width: 50%;
  }

  .hook {
    font-size: 14px;
    font-weight: bolder;
  }

  .form {
    width: 80%;
    margin: auto;
  }
}
