<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/96149977_2498709320393128_5379653250720989184_n.jpg?_nc_cat=111&_nc_sid=b96e70&_nc_ohc=3Mrj11NiMwAAX8SAAU4&_nc_ht=scontent-frx5-1.xx&_nc_tp=7&oh=afd6a9db89e4102fcf61911a847ab3f0&oe=5EDFFCE8')">
  <div class="container">
    <div class="banner-text">
      <h1>Un instant pour soi</h1>
      <h4>SEILER Mathilde esthéticienne à domicile</h4>
    </div>
  </div>
</div>


<!-- https://images.unsplash.com/photo-1575686717697-f43bd36e74c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80 -->
<!-- https://images.unsplash.com/photo-1512207439666-89dddc7701be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2203&q=80 -->
