<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/assets/banner_palette.jpeg')">
  <div class="banner-text">
    <h1>Un instant pour soi</h1>
    <h4 id="scrollPoint">SEILER Mathilde esthéticienne à domicile</h4>
  </div>
</div>


<!-- https://images.unsplash.com/photo-1575686717697-f43bd36e74c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80 -->
<!-- https://images.unsplash.com/photo-1512207439666-89dddc7701be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2203&q=80 -->
