<div class="footer">
  <h5 class="text-center">CONTACT</h5>
  <p style="margin: 0;" class="text-center">Un instant pour soi
   <br><strong>06.46.75.41.48</strong>
   <br>Uniquement sur rendez vous :
   <br>
   <br>du Lundi au Vendredi de 9h à 19h et le Samedi de 8h à 17h.</p>
</div>
