<div class="container">
  <div class="main-categories">
    <div class="d-flex justify-content-around">
      <div class="align-items-center">
        <div class="rounded-category" style="background-image: url('https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/69092792_2392487851020421_6113425856074350592_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=J7PCo5ChxgcAX8IgO-l&_nc_ht=scontent-frt3-1.xx&oh=7bb2c9c82bea89f8e7f66d39c9a37804&oe=5ECFE3E6'); background-position: 0px -60px;">
        </div>
        <div class="text-category">
          <h5 class="text-center">UNE MINE RAYONNANTE</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div>
        <div class="rounded-category" style="background-image: url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/89835217_2604081399861064_5538186472210825216_n.jpg?_nc_cat=105&_nc_sid=dd9801&_nc_ohc=z8n3S2DnxHIAX_NywlE&_nc_ht=scontent-frx5-1.xx&oh=b460408e6ebe2f75c9d9dda8327baa4e&oe=5ED12140'); background-position: -45px 0px;">
        </div>
        <div class="text-category">
          <h5 class="text-center">DES MAINS ET DES PIEDS SUBLIMÉS</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div>
        <div class="rounded-category" style="background-image: url('https://images.unsplash.com/photo-1523661468825-ffc044cf9b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2665&q=80'); background-position: -45px 0px;">
        </div>
        <div class="text-category">
          <h5 class="text-center">DES YEUX DE BICHE</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div>
        <div class="rounded-category" style="background-image: url('http://www.naturellement-jolie.fr/wp-content/uploads/2017/12/estheticienne-a-domicile-12.png');">
        </div>
        <div class="text-category">
          <h5 class="text-center">UNE PEAU DOUCE</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="about d-flex">
    <div class="about-text">
      <h4>À PROPOS DE MOI ..</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        <br>
        <br> Ipsa similique maiores quos, excepturi odit voluptates hic doloremque dignissimos, voluptatem obcaecati, velit animi.
        <br>
        <br> Esse laborum quas sunt reprehenderit facere! Aperiam veritatis, consectetur voluptatum a, accusantium minus facere recusandae? Tempore optio reiciendis vero delectus adipisci veritatis enim officia exercitationem nesciunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
    </div>
    <div class="about-photo-socials">
      <img src="https://scontent-frt3-1.xx.fbcdn.net/v/t1.0-9/37123964_2216240355071914_3268068932245782528_n.jpg?_nc_cat=106&_nc_sid=85a577&_nc_ohc=FCa3phPUo10AX9ovXED&_nc_ht=scontent-frt3-1.xx&oh=bc1e34285e5cbf4afcb9dea6a50f6e4e&oe=5ED0B36C" alt="" style="border-radius: 50%; height: 300px; width: 300px;">
    </div>
  </div>
  <div class="findme">
    <h5 class="text-center">RETROUVEZ MOI EGALEMENT SUR </h5>
    <div class="d-flex justify-content-center">
      <ul style="list-style: none;">
        <li style="display: inline;"><a href=""><i class="fab fa-facebook" style="font-size: 50px; margin: 5px;"></i></a></li>
        <li style="display: inline;"><a href=""><i class="fab fa-instagram" style="font-size: 50px; margin: 5px;"></i></a></li>
        <li style="display: inline;"></li>
      </ul>
    </div>
  </div>
  <div class="where d-flex justify-content-between align-items-center">
    <div class="where-text">
      <h4>UN INSTANT POUR SOI, COMMENT CA MARCHE ?</h4>
      <p>Ultra simple : <strong>je me déplace chez vous sur rendez-vous !</strong>
        <br>
        <br>Etant basée sur Lambach, les déplacements se font dans la limite du possible et du raisonnable, en fonction de la prestation souhaitée et du planning de rendez-vous !
        <br>N'hesitez pas à me contacter.
        <br>
        <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, minima, at esse assumenda in repudiandae officia magni, amet modi earum eligendi quod animi! Temporibus quasi aspernatur, eveniet sunt dicta ex.
      </p>
    </div>
    <div id="map"></div>
  </div>

    <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var mathilde = {lat: 49.02028, lng: 7.360111};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 10, center: mathilde});
      // The marker, positioned at ferme
      var marker = new google.maps.Marker({position: mathilde, map: map, title: 'Chez moi!'});
      var cityCircle = new google.maps.Circle({
            strokeColor: '#000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#43E140',
            fillOpacity: 0.35,
            map: map,
            center: mathilde,
            radius: 17000,
          });
    }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">google.maps.event.addDomListener(window,'load', initMap);</script>
        <script> initMap() </script>
</div>
