<div class="container">
  <h2 class="text-center" style="margin-top: 60px;">CARTE DES SOINS</h2>
  <p class="text-center">Carte de fidélité - Chèques Cadeau</p>
  <div class="carte-soins">
    <div class="soins">
      <h4 class="text-center"><em>Epilations</em></h4>
      <div class="epilation-details d-flex align-items-center justify-content-between">
        <div class="epilation-cares">
          <p>Sourcils / Duvet / Menton / Joues</p>
          <p>Création ligne sourcils</p>
          <p>Aisselles</p>
          <p>Avant bras</p>
          <p>Bras</p>
          <p>Maillot simple</p>
          <p>Maillot échancré</p>
          <p>Maillot intégral</p>
          <p>1/2 Jambes</p>
          <p>Jambes entières</p>
          <p>Dos / Torse</p>
          <p>Ventre homme</p>
        </div>
        <div class="epilation-prices">
          <p>7€</p>
          <p>9€</p>
          <p>10€</p>
          <p>12€</p>
          <p>15€</p>
          <p>10€</p>
          <p>16€</p>
          <p>22€</p>
          <p>16€</p>
          <p>22€</p>
          <p>20€</p>
          <p>13€</p>
        </div>
      </div>
    </div>
    <div class="soins">
      <h4 class="text-center"><em>Beauté des mains</em></h4>
      <div class="mains-details d-flex align-items-center justify-content-between">
        <div class="mains-cares">
          <p>Manucure + Vernis classique</p>
          <p>Pose de vernis semi permanent</p>
          <p>Pose gel rallongement aux châblons</p>
          <p>Pose gel sur ongles naturels</p>
          <p>Remplissage</p>
          <p>Décorations ongle</p>
          <p>French / Baby boomer</p>
          <p>Ongle cassé</p>
          <p>Dépos vernis semi permament</p>
          <p>Dépose gel</p>
        </div>
        <div class="mains-prices">
          <p>20€</p>
          <p>25€</p>
          <p>50€</p>
          <p>40€</p>
          <p>30€</p>
          <p>0,5 à 5€</p>
          <p>5€</p>
          <p>5€</p>
          <p>10€</p>
          <p>18€</p>
        </div>
      </div>
    </div>
    <div class="soins">
      <h4 class="text-center"><em>Beauté des pieds</em></h4>
      <div class="pieds-details d-flex align-items-center justify-content-between">
        <div class="pieds-cares">
          <p>Pose de vernis semi permanent</p>
          <p>Pose de gel</p>
        </div>
        <div class="pieds-prices">
          <p>20€</p>
          <p>25€</p>
        </div>
      </div>
    </div>
    <div class="soins">
      <h4 class="text-center"><em>Maquillage</em></h4>
      <div class="maquillage-details d-flex align-items-center justify-content-between">
        <div class="maquillage-cares">
          <p>Maquillage jour</p>
          <p>Maquillage soir</p>
          <p>Maquillage mariée + essai</p>
          <p>Cours d'auto maquillage 1h</p>
          <p>Teinture cils</p>
          <p>Teinture sourcils</p>
        </div>
        <div class="maquillage-prices">
          <p>20€</p>
          <p>25€</p>
          <p>35€</p>
          <p>45€</p>
          <p>15€</p>
          <p>10€</p>
        </div>
      </div>
    </div>
    <div class="soins">
      <h4 class="text-center"><em>Extension de cils</em></h4>
      <div class="cils-details d-flex align-items-center justify-content-between">
        <div class="cils-cares">
          <p>Pose complète cil à cil</p>
          <p>Pose complète volume russe</p>
          <p>Remplissage 2 semaines</p>
          <p>Remplissage 3 semaines</p>
          <p>Remplissage 4 semaines</p>
          <p>Dépose</p>
        </div>
        <div class="cils-prices">
          <p>100€</p>
          <p>120€</p>
          <p>25€/30€</p>
          <p>35€/40€</p>
          <p>50€/55€</p>
          <p>15€</p>
        </div>
      </div>
    </div>
    <div class="soins">
      <h4 class="text-center"><em>Soins visage</em></h4>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soin ado 30min
            <span><br><em>Nettoyage de peau en profondeur</em></span>
          </p>
        </div>
        <div>
          <p>30€</p>
        </div>
      </div>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soin coup d'éclat 30 min
            <span><br><em>Nettoyage de peau vitaminé</em></span>
          </p>
        </div>
        <div>
          <p>35€</p>
        </div>
      </div>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soin purifiant 1h
            <span><br><em>Matifie et affine le grain de peau</em></span>
          </p>
        </div>
        <div>
          <p>50€</p>
        </div>
      </div>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soit apaisant 1h
            <span><br><em>Calme et adoucit</em></span>
          </p>
        </div>
        <div>
          <p>50€</p>
        </div>
      </div>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soin hydatant 1h
            <span><br><em>Ressource et réhydrate</em></span>
          </p>
        </div>
        <div>
          <p>50€</p>
        </div>
      </div>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soin nourrissant 1h
            <span><br><em>Nourrit et réconforte</em></span>
          </p>
        </div>
        <div>
          <p>50€</p>
        </div>
      </div>
      <div class="visage-details d-flex justify-content-between">
        <div>
          <p>
            Soin raffermissant anti-âge 1h
            <span><br><em>Lisse et redonne de l'éclat</em></span>
          </p>
        </div>
        <div>
          <p>60€</p>
        </div>
      </div>
    </div>
  </div>

</div>
