.banner {
  height: 80vh;
  width: 100vw;
  background-attachment: fixed;
  border-top: solid #D69E2E;
  border-bottom: solid #D69E2E;
  padding: 400px 100px;
  h1 {
    font-family: 'Dancing Script', cursive;
    color: #FFD8D6;
    font-size: 110px;
  }
  h4 {
    font-family: 'Ledger', serif;
    color: #FFD8D6;
    font-size: 20px;
    margin-left: 35px;
  }
}
