.banner {
  height: 80vh;
  width: 100vw;
  background-attachment: fixed;
  border-top: solid #D69E2E;
  border-bottom: solid #D69E2E;
  padding: 350px 100px;
  z-index: 10;
  h1 {
    font-family: 'Dancing Script', cursive;
    color: #FFD8D6;
    font-size: 110px;
    text-shadow: 1px 1px 2px #D69E2E;
    opacity: 0.8;
    position: absolute;
    bottom: 370px;
    right: 137px;
  }
  h4 {
    font-family: 'Ledger', serif;
    color: #D69E2E;
    font-size: 20px;
    margin-left: 35px;
    text-shadow: 1px 1px 2px black;
    opacity: 0.7;
    position: absolute;
    bottom: 340px;
    right: 310px;
  }
}

.mid-banner {
  background-attachment: fixed;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 900px) {
  .banner {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    border-top: solid #D69E2E;
    border-bottom: solid #D69E2E;
    padding: 50px 100px;
    h1 {
      font-family: 'Dancing Script', cursive;
      color: #FFD8D6;
      font-size: 70px;
      text-shadow: 1px 1px 2px #D69E2E;
      opacity: 0.8;
    }
    h4 {
      font-family: 'Ledger', serif;
      color: #D69E2E;
      font-size: 14px;
      text-shadow: 1px 1px 2px black;
      opacity: 0.7;
    }
  }

  .banner-text {

  }
}

@media(max-width: 600px) {
  .banner {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    border-top: solid #D69E2E;
    border-bottom: solid #D69E2E;
    padding: 50px 100px;
    h1 {
      font-family: 'Dancing Script', cursive;
      color: #FFD8D6;
      font-size: 50px;
      text-shadow: 1px 1px 2px #D69E2E;
      opacity: 0.8;
    }
    h4 {
      font-family: 'Ledger', serif;
      color: #D69E2E;
      font-size: 10px;
      text-shadow: 1px 1px 2px black;
      opacity: 0.7;
    }
  }
}

@media(max-width: 500px) {
  .banner {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    border-top: solid #D69E2E;
    border-bottom: solid #D69E2E;
    padding: 200px 0px 0px 0px;
    h1 {
      font-family: 'Dancing Script', cursive;
      color: #FFD8D6;
      font-size: 80px;
      text-shadow: 1px 1px 2px #D69E2E;
      opacity: 0.8;
      position: relative;
      bottom: 0px;
      right: 0px;
      margin: 0 auto;
    }
    h4 {
      font-family: 'Ledger', serif;
      color: #D69E2E;
      font-size: 20px;
      text-shadow: 1px 1px 2px black;
      opacity: 0.7;
      position: relative;
      margin-left: 0;
      bottom: 0px;
      right: 0px;
    }
  }
  .banner-text {
    width: 300px;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }

  .mid-banner {
    background-position: top 1100px right -950px;
    background-attachment: unset;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
