.footer {
  margin-top: 80px;
  min-height: 10vh;
  background-color: #BBC4C3;
  padding: 50px;
  p {
    font-size: 14px;
  }
}

.footer-link a {
  font-size: 14px;
  color: black;
  text-decoration: none;
}
