.navbar-lewagon {
  justify-content: space-between !important;
  background: #D69E2E;
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;

  a {
    color: white !important;
  }

  span {
    color: black!important;
  }
}

.navbar-nav {
  float: right!important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-instant {
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}

