.rounded-category {
  border-radius: 50%;
  max-width: 180px;
  width: 180px;
  height: 180px;
  background-size: cover;
  margin: 40px;
  border: 1px solid #D69E2E;

}

.text-category {
  max-width: 180px;
  margin: 0 40px;
  p {
    font-size: 14px;
    line-height: 26px;
  }

  h5 {
    font-size: 18px;
    color: #D69E2E;
    line-height: 26px;
  }
}

.about-text {
  h4 {
    color: #D69E2E;
  }

  p {
    font-size: 14px;
    line-height: 26px;
  }
  width: 60vh;
  margin-top: 80px;

}

.about-photo-socials {
  margin-top: 80px;
  margin-left: 200px;
}

.findme {
  h5 {
    color: #D69E2E;
  }

  margin-top: 30px;

}

.where {
  margin-top: 80px;
}

.where-text {
      h4 {
    color: #D69E2E;
  }
    p {
    font-size: 14px;
    line-height: 26px;
  }

  width: 40%;
}

#map {
  height: 500px;  /* The height is 400 pixels */
  width: 50%;  /* The width is the width of the web page */
  border: solid #D69E2E;
}

